{{/* Responsible for generating anchors within the article */}}
{{/* original file: https://github.com/imfing/hextra/blob/v0.9.7/layouts/_default/_markup/render-heading.html */}}
{{/* For transliteration, line 5 has been added, and changes have been made to line 10,11." */}}

{{- $customAnchor := partial "transliterate.html" .PlainText -}}

<h{{ .Level }}>
  {{- .Text | safeHTML -}}
  {{- if gt .Level 1 -}}
    <span class="hx-absolute -hx-mt-20" id="{{ $customAnchor }}"></span>
    <a href="#{{ $customAnchor }}" class="subheading-anchor" aria-label="Permalink for this section"></a>
  {{- end -}}
</h{{ .Level }}>
{{- /* Drop trailing newlines */ -}}
