.custom-cta {
    display: inline-block;
}

.custom-cta .hextra-card {
    background: black !important;
    color: white;
}

.custom-cta .hextra-card span {
    color: white !important;
}

.custom-cta .hextra-card svg {
    color: white !important;
}

.dark .custom-cta .hextra-card {
    background: white !important;
    color: black;
}

.dark .custom-cta .hextra-card span {
    color: black !important;
}

.dark .custom-cta .hextra-card svg {
    color: black !important;
}

.custom-cta .hextra-card:hover {
    opacity: 0.8;
}

.custom-cta .hextra-card span:hover {
    opacity: 0.8;
    color: white !important;
}

.custom-cta .hextra-card svg:hover {
    opacity: 0.8;
    color: white !important;
}

.dark .custom-cta .hextra-card:hover {
    opacity: 0.8;
}

.dark .custom-cta .hextra-card span:hover {
    opacity: 0.8;
    color: black !important;
}

.dark .custom-cta .hextra-card svg:hover {
    opacity: 0.8;
    color: black !important;
}
