.main-cta-button {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(17 17 17 / var(--tw-bg-opacity));
    color: rgb(243 244 246 / var(--tw-text-opacity));
}

html.dark .main-cta-button {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    color: rgb(17 17 17 / var(--tw-text-opacity));
}
